div {
	margin-top: 5px;
}

input {
	width: 90%;
}

.breadcrumb {
	background-color: white;
}

.window {
	width: auto;
	height: 200px;
	overflow-y: scroll;
	border: 1px solid grey;
	padding: 5px;
}

.div-inline {
	display: inline;
}

.separator {
	font-size: 18px;
	font-weight: bold;
	color: blue;
}

.distance {
	margin:7px 7px 0px 0px;
}

.folder {
	// background-color: #f7d87c;
}